.vscode/**
.vscode-test/**
src/**
out/**
node_modules
.gitignore
.yarnrc
.npmrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
esbuild.js
.eslintrc.json
pnpm-lock.yaml
package-lock.json
../**
!./dist/**
!./assets/**
!./language-configuration.json
!./README.md
!./CHANGELOG.md
!./package.json
!./abcjs-renderer/resources/**
!./abcjs-renderer/abc.tmGrammar.json
!./abcjs-renderer/snippets.json
!./abcjs-renderer/LICENSE.md
